* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    padding: 50px;
}

h1 {
    font-size: small;
    font-weight: lighter;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

/* Медиа-запрос по ширине */
@media (max-width: 600px) {
    .mq-width {
        background-color: crimson;
    }
}

/* Медиа-запрос по высоте */
@media (max-height: 500px) {
    .mq-height {
        background-color: royalblue;
    }
}

/* Медиа-запрос по aspect ratio */
@media (min-aspect-ratio: 4/3) {
    .mq-ar {
        background-color: seagreen;
    }
}
